[Unit]
Description=Telegram bot with Steam parser
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/SteamBot
ExecStart=/usr/bin/python3 /root/SteamBot/main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target